*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.UserNameS{
    color:blue;
    padding: 5px;
    font: 16px sans-serif;
    text-shadow: 1px 1px 1px #fff, 1px 1px 1px rgba(0,0,0,0.15);

}
.ChatMessageS{
    content: '-';
    background: #cccccc;
    color: #080808;
    margin: 10px;
    font: 14px sans-serif;
    text-shadow: 2px 2px 2px #fff, 2px 2px 2px rgba(0,0,0,0.15);
}
#ChatMessages{
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 360px; /* Ширина блока */
    height: 500px; /* Высота блока */
    padding: 10px; /* Поля вокруг текста */
    margin: 20px 0;
    border: solid 2px black; /* Параметры рамки */
}